
/***************  ORANGE SECTION ****************/
.section_orange{
	padding-bottom: 0px;
    
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 40px;
}

.section_orange_paragraphe h1{
    text-transform: uppercase;
    font-size: 40px;
    font-family: quicksand;
}

.section_stripe{
	padding-top: 0px;
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
    background-color: #333e50;
    padding-bottom: 20px;
    color: white;
}

.stripe-logo{
	width: 107px;
    height: 104px;
}

.ssl{
	display: flex;
    align-items: center;
    justify-content: center;
        padding-top: 29px;
}

.ssl-rules{
	text-align: center;
    font-family: quicksand;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1.6;
}

.section_explanation{
	width: 100%;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 40px;
    background-color: rgba(182, 182, 182, 0.2);
    padding-bottom: 0px;
    font-family: quicksand;
    line-height: 1.2;
}

.section_explanation_row{
	display: flex;
    justify-content: center;
    align-items: center;
}

.schema{
	padding-top: 67px;
}

.list_element-title{
	    font-size: 24px;
    padding-bottom: 23px;
}

.list_element{
	display: flex;
    justify-content: center;
    align-items: center;
}

.list_element-image{
	    width: 50px;
}