.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

.no-js .slides > li:first-child {
  display: block;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

.flex-direction-nav {
  position: absolute;
  z-index: 5000;
  top: 42%;
  left: 0;
  width: 100%;
}

.flex-direction-nav a {
  width: 24px;
  height: 48px;
  display: block;
  background: url(../images/banner/arrows.png) 0 0px no-repeat;
  position: absolute;
  text-indent: -9999px;
  cursor: pointer;
}

.flex-direction-nav .flex-next {
  right: 20px;
  width: 24px;
  height: 48px;
  background: url(../images/banner/arrows.png) -24px 0px no-repeat;
}

.flex-direction-nav .flex-prev {
  left: 20px;
  width: 24px;
  height: 48px;
  background: url(../images/banner/arrows.png) 0 0px no-repeat;
}

.flex-direction-nav .disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}

.flex-control-nav {
  position: absolute;
  bottom: 15px;
  left: 5%;
  text-align: left;
  z-index: 1000;
  text-align: left;
  display: none;
}

.flex-control-nav li {
  margin: 0 1px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../images/banners/bullets.png) 0 0px no-repeat;
}

.flex-control-paging li a {
  display: block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/banners/bullets.png) 0 0px no-repeat;
}

.flex-control-paging li a.flex-active {
  background-position: 0px -19px;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

.menu_slider .flex-direction-nav {
  display: none;
}

.menu_slider .flex-control-nav {
  position: absolute;
  width: 100%;
  bottom: 6px;
  left: 5%;
  text-align: center;
  z-index: 1000;
  display: block;
}

.menu_slider .flex-control-nav li {
  margin: 0 4px;
  display: inline-block;
  width: 9px;
  height: 9px;
  background: none;
  background-color: #FFFFFF;
}

.menu_slider .flex-control-paging li a {
  display: block;
  width: 9px;
  height: 9px;
  cursor: pointer;
  text-indent: -9999px;
  background: none;
  background-color: #FFFFFF;
  border: solid 1px #ADADAD;
}

.menu_slider .flex-control-paging li a.flex-active {
  background-color: #000000;
  border: 0px;
}

.menu_slider .flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
